.banner {
    background-color: black;
    padding-left: 0cm;
}

.logo {
    font-weight: bold ;
    margin: 10px;
}


.contenido-banner {
    color: white;
}

.contenido-banner img {
    width: 200px;
    border-radius: 5px;
  }


.producto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

h6{
    text-align: center;
}

.imagenes {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    background-color: white;
}

.promocional {
    width: 50;
    height: auto;
}